@charset "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
}

body, html {
    scroll-behavior: smooth;
    background-color: #313640;
    font-family: 'Poppins', sans-serif;
}

header{
    background: #313640 url('imagens/sushi.png') center no-repeat ;
    background-size:cover;
    height: 420px;
}

nav {
    background-color: #31364070;
}

a {
    color: white;
    font-size: 1.2rem;
}

a:hover{
    color: #8C0303;
}


.dropdown-menu {
    background-color: #3136405b;
}

.dropdown-item {
    color: white;
}
.btns {
    display: grid;
}

.direita {
    float: right;
    width: 150px;
}

.carousel-item {
    height: 290px;
    text-align: center;
    background-color: #262a31;
}

.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 15vh 15vh;
    margin-bottom: 100px;
}

.destaque1 {
    background: #8C0303 url('imagens/camarao.jpg') center bottom no-repeat;
    background-size: cover;
    grid-column: 1/3;
}

.destaque1 > p, h3 {
    text-align: start;
    padding: 5px;
    color: white;
    background-color: #31364056;
    font-size: 2vh;
}

.destaque2 {
    background: #D90404;
    grid-column: 3/4;
}

.destaque3 {
    background: #400101 url("imagens/sushi-retrato.jpg");
    background-size: cover;
    grid-column: 4/5;
    grid-row: 1/3;

}

.destaque4 {
    background: #F29F05;
    grid-column: 1/2;
}

.destaque5 {
    background: #777A8C url('imagens/hot.jpg');
    background-size: cover;
    grid-column: 2/4;
}

.imgcama > img {
    width: 50px;
    mix-blend-mode: multiply;
}

.grid2 {
    width: 80%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%; 
    grid-template-rows: 200px 200px;
    gap: 5% ;
    margin: auto;
}

.products1 {
    background: #262a31;
    grid-column: 1/2;
}
.products2 {
    background: #262a31;
    grid-column: 2/3;
}
.products3 {
    background: #262a31;
    grid-column: 3/4;
}
.products4 {
    background: #262a31;
    grid-column: 1/2;
}
.products5 {
    background: #262a31;
    grid-column: 2/3;
}
.products6 {
    background: #262a31;
    grid-column: 3/4;
}

footer {
    display: grid;
    justify-items:start;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    height: 200px;
    width: 100%;
    background-color: #262a31;
}

.logo > img {
    grid: 1/2;
    width: 100px;
    display: block;
}

.menufooter > ul > li{

    display: inline-block;
}

.menufooter{
    grid: 2/3;
}